<!DOCTYPE html>
<html>

	<head>
		<title>chat</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!-- 公用部分 -->
		<script src="../public/js/Flexible.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../public/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../public/fonts/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../public/css/public.css" />
		<script src="../public/js/jquery-3.3.1.min.js" charset="utf-8"></script>
		<!--<script src="../public/js/vue.js" charset="utf-8"></script>-->
		<script src="../public/js/public.js" charset="utf-8"></script>
		<!-- 公用部分 -->
		
		<link rel="stylesheet" type="text/css" href="../public/css/swiper-4.3.3.min.css" />
		<link href="../public/css/mui.min.css" rel="stylesheet" />
		<link href="./css/mui.imageviewer.css" rel="stylesheet" />
		<link href="./css/style.css" rel="stylesheet" />
	</head>

	<body contextmenu="return false;">
		<div class="childpage-header-container">
			<header class="childpage-header">
				<i class="iconfont icon-guanbi icon-fanhui1" id="backs"></i>
				<div class="childpage-header-title">
					消息
				</div>
			</header>
		</div>
		<pre id='h'></pre>
		<script id='msg-template' type="text/template">
			<% for(var i in record){ var item=record[i]; %>
				<div class="msg-item <%= (item.sender=='self'?' msg-item-self':'') %>" msg-type='<%=(item.type)%>' msg-content='<%=(item.content)%>'>
					<% if(item.sender=='self' ) { %>
						<img class="msg-user msg-user-img selfImg" src="<%= domain+selfImg %>" alt="" />
					<% } else { %>
						<img class="msg-user-img brokerImg" src="<%= domain+item.avatar %>" alt="" />
					<% } %>
					<div class="msg-content">
						<div class="msg-content-inner">
							<% if(item.type=='text' ) { %>
								<%=( item.content|| '&nbsp;&nbsp;') %>
							<% } else if(item.type=='image' ) { %>
								<img class="msg-content-image" src="<%=(item.content)%>" style="max-width: 100px;" />
							<% } else if(item.type=='house' ) { %>
								<img class="msg-content-image" src="<%=(item.content)%>" style="max-width: 100px;" />
							<% } else if(item.type=='sound' ) { %>
								<span class="mui-icon mui-icon-mic" style="font-size: 18px;font-weight: bold;"></span>
								<span class="play-state">点击播放</span>
							<% } %>
						</div>
						<div class="msg-content-arrow"></div>
					</div>
					<div class="mui-item-clear"></div>
				</div>
			<% } %>
		</script>
		<div class="mui-content">
			<div id='msg-list'>
			</div>
		</div>
		<footer>
			<div class="footer-left">
				<i id='msg-image' class="mui-icon mui-icon-camera" style="font-size: 28px;"></i>
			</div>
			<div class="footer-center">
				<textarea id='msg-text' type="text" class='input-text'></textarea>
				<button id='msg-sound' type="button" class='input-sound' style="display: none;">按住说话</button>
			</div>
			<label for="" class="footer-right">
				<i id='msg-type' class="mui-icon mui-icon-mic"></i>
			</label>
		</footer>
		<div id='sound-alert' class="rprogress">
			<div class="rschedule"></div>
			<div class="r-sigh">!</div>
			<div id="audio_tips" class="rsalert">手指上滑，取消发送</div>
		</div>
		<script src="../public/js/mui.min.js"></script>
		<script src="./js/mui.imageViewer.js"></script>
		<script src="./js/arttmpl.js"></script>
		<script src="./js/chat.js"></script>
	</body>

</html>